#top-header{
	background: #222222;
	color: #e9eaee;
}

.phone{
	float: left;
	margin-right: 20px;
	
}

.navbar-brand{
	padding: 0 15px;
	padding-left: 30px;
}
.phone, .mail, .icon-top-header{
	margin-top: 10px;
}
#menu{
	margin-top: 10px;
}
#top-header a{
	color: #e9eaee;
}
.icon-top-header{
	float: left;
}

.book-table{
	float: right;
	background: #cf963d;
	padding: 10px 20px;
}

.navbar a{
	color: #333;
}

.navbar-toggle .icon-bar{
	background: #333;
}

.carousel-caption{
	bottom: 30%;
}



